@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none !important;
  color: #ffffff;
  font-weight: 600;


}

a:hover {
  opacity: 50% !important;
  cursor: pointer;
}

a:focus,
a:active {
  outline: none;
  color: inherit;
}

.bgImg {
  position: relative;
  margin: 0;
  overflow: hidden;

}

.bgImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6969691a;
  margin: 30px;
  padding: 20px;
  border-radius: 50px;
  -webkit-box-shadow: 10px 10px 17px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 17px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 17px 5px rgba(0, 0, 0, 0.75);
}